
body{
/*	font-family: 'Baloo Bhaijaan', cursive;*/
/*	font-family: 'Roboto Mono', monospace;*/
/*	font-family: 'Shrikhand', cursive;*/
/*	background-color: #9cbbed;*/
/*	font-family: 'Chelsea Market', cursive;*/
	font-family: 'Quicksand', sans-serif;
	background-image: url("sea4.jpg");
	color:#870c0c;
/*	opacity: 0.5;*/
}

header{
	position:absolute;
	margin-top:3px;
	color: #870c0c;
	text-align:center;
	font-weight: bolder;
	max-width: 50%;
/*	margin-bottom:25%;*/

/*	background-color: #02c2ed;*/
}

h1{
	font-size:40px;
}

h2{
	font-size:32px;
}

h3{
	font-size:22px;
	margin-top: 5%;
}


.question{
	display:inline-block;
}

.js_submit_type{
	position: relative;
	top:13%;
	max-width: 50%
}

.js_display_div{
	margin:0 auto;
	position:relative;
	top:20%;
	display:block;
}

.init_app{
	background-color: #e5a9bd;
	font-size: 15px;
	border-radius: 10px;
	position:relative;
	display:block;
	height:40px;
	position:relative;
	font-weight: bold;
	top:30%;
	margin:0 auto;
	margin-top:3%;
}

.init_app:hover{
	background-color: #ff60f4;

}

.js_types{
	font-size: 19px;
	color: black;
	font-weight: 800;
	margin-top:10%;
}

.js_type:hover{
	background-color: rgba(239, 255, 253, 0.5);
	font-weight:bolder;
}

.js_submit_form{
	position:relative;
	text-align:center;
	top:30%;
	margin:0 0 0 0;
	font-size: 23px;
	color: #e5a9bd;
	font-weight: 800;
	max-width: 50%;
}

.address{
	color:#870c0c;
	margin-top:5%;
}
.type_query_input{
	background-color: #e5a9bd;
	font-size: 15px;
	border-radius: 10px;
	position:relative;
	display:block;
	margin:0 auto;
	height:40px;
	font-weight:bold;
}

.type_query_input:hover{
	background-color: #ff60f4;
	font-weight:bolder;
	max-width: 50%

}

.search_box{
	background-color: #e5a9bd;
	font-size: 15px;
	border-radius: 10px;
	font-weight:bold;
	margin-top: 5%;
}

.search_box:hover{
	background-color: #ff60f4;
}

.type_place{
	font-size: 16px;
	text-decoration: underline;
}
.js_your_results{
	background-color: rgba(138, 221, 247, 0.25);
	width:13%;
	margin-top:1%;
	margin-bottom:1%;
	margin-left:1%;
	margin-right:1%;
	height:220px;
	position: relative;
	border-color:#ba44ac;
	border-style: solid;
	border-width: .5px;
}

.js_your_results:hover{
	background-color: rgba(240, 242, 135, 0.5);
	font-weight: bolder;

}

.js_more_info{
	color:#870c0c;
}
.js_name{
	font-size: 17px;
	text-align: center;
}

.js_vicinity{
	font-size: 14px;
	text-align:center;
}

.google_img{
     left: 0; 
 	 right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
    display:block;
    position:absolute;
    bottom:5%;
    width:110px;
    height:75px;
}

.report_div{
	display: block;
	position: relative;
	top:10%;
	clear:right;
}

@media only screen and (max-width: 640px) {

header{
	text-align: center;
	margin-bottom:10%;
/*	right:5%;*/
}

  h1 {
    font-size:22px;
  }

  h2{
    font-size:19px;
  }

  h3{
    font-size: 17px;
  }

.init_app{
  font-size: 9px;
}

.js_types{
  font-size:16px;
  margin-top:25%;
}

.js_submit_form{
  font-size: 18px;
}

}