
body{
/*	font-family: 'Baloo Bhaijaan', cursive;*/
/*	font-family: 'Roboto Mono', monospace;*/
/*	font-family: 'Shrikhand', cursive;*/
/*	background-color: #9cbbed;*/
/*	font-family: 'Chelsea Market', cursive;*/
/*	font-family: 'Quicksand', sans-serif;*/
/*	font-family: 'Fredoka One', cursive;*/
/*	font-family: 'Bangers', cursive;*/
	font-family: 'Ramabhadra', sans-serif;

	background-image: url("sea4.jpg");
	color:#5F08A5;
/*	text-shadow: -1px 0 #4D7C56, 0 1px #4D7C56, 1px 0 #4D7C56, 0 -1px #4D7C56;*/
/*	opacity: 0.5;*/
}

header{
	position:absolute;
/*	margin-top:3px;*/
	color: #91240D;
	text-shadow: -1px 0 #4D7C56, 0 1px #4D7C56, 1px 0 #4D7C56, 0 -1px #4D7C56;
	text-align:center;
/*	font-weight: bolder;*/
	max-width: 50%;
/*	margin-bottom:25%;*/

/*	background-color: #02c2ed;*/
}

h1{
	font-size:40px;
}

h2{
	font-size:32px;
}

h3{
	font-size:22px;
	margin-top: 5%;
}


.question{
	display:inline-block;
	margin-top:0;
}

.js_submit_type{
	position: relative;
	top:13%;
	max-width: 50%
}

.js_display_div{
	margin:0 auto;
	position:relative;
	top:20%;
	display:block;
	text-shadow:none;
}

.init_app{
	background-color: #6248C1;
	font-size: 15px;
	border:none;
	border-radius: 10px;
	position:relative;
	display:block;
	height:40px;
	position:relative;
	font-weight: bold;
	top:30%;
	margin:0 auto;
	margin-top:3%;
	margin-bottom:5%;
}

.init_app:hover{
	background-color: #AE86D8;

}

#checkbox{
	height: 15px;
	background: #555;
	background-color: red;
	margin: 2px;
	position: relative;
	border-radius: 3px;
}

.js_types{
	font-size: 19px;
	color: black;
/*	font-weight: 800;*/
	margin-top:10%;
}

.js_type{
	margin-top: 0;
	margin-bottom: 0;
}
.js_type:hover{
	background-color: rgba(239, 255, 253, 0.5);
	font-weight:bolder;
}

.js_submit_form{
	position:relative;
	text-align:center;
	top:30%;
	margin:0 0 0 0;
	font-size: 23px;
	color: #e5a9bd;
	font-weight: 800;
	max-width: 50%;
	border-bottom:5%;
}

.address{
	color:#870c0c;
	margin-top:5%;
}
.type_query_input{
	background-color: #6248C1;
	border:none;
	font-size: 15px;
	border-radius: 10px;
	position:relative;
	display:block;
	margin:0 auto;
	height:40px;
	font-weight:bold;
	margin-bottom: 5%;
}

.type_query_input:hover{
	background-color: #AE86D8;
	font-weight:bolder;
	max-width: 50%

}

.search_box{
	background-color: #6248C1;
	font-size: 15px;
	border:none;
	border-radius: 10px;
	font-weight:bold;
	margin-top: 5%;
}

.search_box:hover{
	background-color: #AE86D8;
}

.type_place{
	font-size: 16px;
	text-decoration: underline;
}
.js_your_results{
	background-color: rgba(138, 221, 247, 0.25);
	width:13%;
	margin-top:1%;
	margin-bottom:1%;
	margin-left:1%;
	margin-right:1%;
	height:220px;
	position: relative;
	border-color:#ba44ac;
	border-style: solid;
	border-width: .5px;
}

.js_your_results:hover{
	background-color: rgba(240, 242, 135, 0.5);
	font-weight: bolder;

}

.js_more_info{
	color:#870c0c;
}
.js_name{
	font-size: 17px;
	text-align: center;
	margin-bottom:15%;
}

.js_vicinity{
	font-size: 14px;
	text-align:center;
}

.google_img{
     left: 0; 
 	 right: 0; 
  	margin-left: auto; 
  	margin-right: auto;
    display:block;
    position:absolute;
    bottom:5%;
    width:110px;
    height:75px;
}

.report_div{
	display: block;
	position: relative;
	top:10%;
	clear:right;
}

@media only screen and (max-width: 640px) {

header{
	text-align: center;
/*	margin-bottom:10%;*/
	clear: both;
	position:static;
	max-width:100%;
/*	right:5%;*/
}

  h1 {
    font-size:22px;
  }

  h2{
    font-size:19px;
  }

  h3{
    font-size: 17px;
  }

.init_app{
  font-size: 9px;
  margin-bottom:5%;
}

.js_types{
  font-size:16px;
  margin-top:25%;
}

.js_submit_form{
  font-size: 18px;
  max-width: 100%;
  margin-top:5%;
  margin-bottom:5%;
}

.address_query_input{
	max-width:50%;
	margin-left:25%;
}

.col-6, #map{
width: 100%;
float: none;
position:static !important;
}

#map{
	position:relative !important;
	margin-top:5%;
}

.js_types{
	margin:15%;
	margin-top:0%;
}

.search-box{
	display:block;
}

}